body {
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;

}


* {
    margin: 0;
    padding: 0;
}

.nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 0px 240px;
    /* padding-left: 20px; */

}

.nav h3 {
    padding-right: 310px;
}

.nav-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 240px;
}

.G {
    color: #FF42A5;
}

.nav-icon img {
    width: 50px;

}

.menus {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    padding-right: 240px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;

}

.menus p {
    color: #3C354F;
    font-size: 12px;
    font-weight: 500;
}

.menusbutton {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 200px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.follow {
    font-size: 12px;

}


.heading {
    display: flex;
    justify-content: center;
    margin: 0px 240px;
}

.h3 {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.left-container {
    padding-top: 140px;
    width: 50%;

}

.right-container {
    width: 50%;
}

.right-image {
    width: 500px;
    height: 500px;

}

h2 {
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    color: #F948B2;
}

.paragraph {
    padding-top: 10px;

}

.button {
    padding-top: 20px;

}

.btn1 {
    display: inline-flex;
    padding: 21px 40px;
    align-items: center;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border-style: none;
    color: #FFF;

}

.btn2 {
    display: inline-flex;
    padding: 21px 40px;
    align-items: center;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border-style: none;
    color: #FFF;
}


.center {
    padding-top: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.slide {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.main1 {
    /* width: 100%; */
    padding-bottom: 30px;
    margin: 0px 240px;


}

.four-image {
    width: 270px;
    height: 300px;
    border-radius: 16px;
}

.main2 {
    margin: 0px 240px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 250px;
}

.two_img {
    display: flex;
    position: relative;
    width: 50%;



}

.image1 {
    padding-left: 150px;
    width: 635px;
    height: 650px;
    border-radius: 8px;
}

.image2 {
    position: absolute;
    padding-top: 400px;
    width: 320px;
    height: 365px;

}

.lefth2 {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    padding-bottom: 10px
}

.play {
    color: #F948B2;
}

.para {
    width: 353px;
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.main3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 240px;
    margin-bottom: 30px;


}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 80px;
    gap: 20px;

}

.element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;

}

.align:hover {
    border-radius: 50px;
    background: #FFF;
    border: 1px solid #F948B2;
    color: #F948B2;
}


.footer {

    height: 636px;
    background: #0B0223;
    padding-top: 50px;
}


.navicon-foot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footh3 {
    color: #FFF;
}


.para-foot {
    padding-top: 30px;
    color: #FFF;
    display: flex;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    gap: 60px;
}

.icon-foot {
    padding-top: 60px;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 40px;
}

.term-foot {
    display: flex;
    padding: 70px;
    gap: 60px;
    color: #FFF;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    justify-content: center;

}

.last-foot {
    color: rgba(255, 255, 255, 0.60);
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-weight: 500;

}


.slide :hover {
   
    border-radius: 16px;
color: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;

}